<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!--Tab View Content Goes Here-->
    <ion-nav-view name="menuContent"></ion-nav-view>

    <!--Start Alert Message Bar-->
    <ion-footer-bar align-title="left" class="mediaplayer-alert" ng-class="{'active' : alertactive, 'hide' : hide}">{{'PlayerAlertMessage' | translate}}</ion-footer-bar>
    <!--End Alert Message Bar-->

    <!--Start Media Player Widget Footer Bar-->
    <ion-footer-bar align-title="left" ng-class="{'hide' : hide}" class="mediaplayer-bar">

      <div class="row row-top mediaplayer">
        <div class="row mediaplayer-button">
          <i class="icon ion-skip-backward" ng-class="streamInfo.isPlaying ? 'ion-ios-pause' : 'ion-ios-play' " ng-click="prev()"></i>
          <i class="icon" ng-class="streamInfo.isPlaying ? 'ion-ios-pause' : 'ion-ios-play' " ng-click="play()"></i>
          <i class="icon ion-skip-forward" ng-class="streamInfo.isPlaying ? 'ion-ios-pause' : 'ion-ios-play' " ng-click="next()"></i>

        </div>

      <!--  <div class="col col-33 col-center mediaplayer-info"  ng-include="'resources/play-widget/playing-widget.html'"></div> -->


      </div>
      <div class="row row-bottom mediaplayer-info">{{streamInfo.isPlaying ? streamInfo.info.title : 'Streaming Paused'}}</div>

    </ion-footer-bar>
    <!--End Media Player FooterBar-->

  </ion-side-menu-content>

  <ion-side-menu class="menu menu-right" side="right" is-enabled="true" width="275" style="width: 275px; z-index: 0;">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Playlist</h1>
    </ion-header-bar>


    <ion-content>
      <ion-list>
         <ion-item menu-close ng-click="changestream('tophits')" href="#/menu/tab/playlist">
          Top Hits
        </ion-item>
        <ion-item menu-close ng-click="changestream('rock')"   href="#/menu/tab/playlist">
          Rock
        </ion-item>
        <ion-item menu-close ng-click="changestream('chillout')"   href="#/menu/tab/playlist">
          Chillout
        </ion-item>
        <ion-item menu-close ng-click="changestream('metal')"   href="#/menu/tab/playlist">
          Metal
        </ion-item>
        <ion-item menu-close ng-click="changestream('classicheita')"   href="#/menu/tab/playlist">
          Classiche italiane
        </ion-item>
        <div class="expanded bar disable-user-behavior">
          <div class="menu-bottom">Streaming</div>
          <a href="#/menu/tab/dash"><div menu-close ng-click="changestream('stream')">
        <div class="avatar motion spin fade ">
        <img src="./img/icon.png">
          </div>
          </a>
          </div>

       </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
