   <ion-view view-title="{{info.genere}}">
<ion-content>

   <ion-list>
      <ion-item class="item-remove-animate item item-thumbnail-left" ng-repeat="song in playlist" type="item-text-wrap" ng-click="changeSong(song.length)">
        <img src="{{song.cover}}">
        <img ng-src="{{getcover(song.artist,song.title)}}">

        <h2>{{song.artist}}</h2>
        <p>{{song.title}}</p>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <!--<a class="button button-icon icon play-button-icon {{ vm.isPlaying ? 'ion-ios-pause' : 'ion-ios-play' }}"-->
        <!--ng-click="play()"></a>-->
  </ion-content>
</ion-view>
