<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>RADIO AQ</h2>
    <p>
   TEST APP RADIO STREAMING
    </p>
   
    <p>
    Madonna Madonna
    </p>

       <p>
           <h1>{{ 'TITLE' | translate }}</h1>
            <p>{{ 'FOO' | translate }}</p>
      </p>
      <button class="button button-primary button-block " ng-click="checkForUpdates()">
  Verifica Aggiornamenti
</button>
<button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
  Scarica Aggiornamenti
</button>
  </ion-content>
</ion-view>
